body{
    align-items: flex-start;
}

.container{
    background-color: #a014f0;
    margin-top: 50px;
}

.profile-main{
    width: 620px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    margin-top: 10vh;
}

.profile-main img{
    width: 80px;
    border-radius: 50%;
}

h1{
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    letter-spacing: 1px;
    font-weight: bold;
}

.container h3{
    text-transform: uppercase;
    border-bottom: 2px solid #fff;
    text-align: center;
    letter-spacing: 1px;
    width: 100%;
    margin-bottom: 10px;
}