.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    width: 320px;
}

.container .user-info{
    text-align: center;
}

.container .user-info a{
    text-transform: uppercase;
    margin: 0;
}

.container img{
    width: 60px;
    border-radius: 50%;
    border: 2px solid #FFF;
}