<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/base.css">
    <title>{% block title %} Default title {% endblock title %} </title>
</head>
<body>

    <header>
        <nav>
            {% if user %}
                <a href="/">Secret number</a>
                <a href="/profile">Profile</a>
                <a href="/leaderboard">leaderboard</a>
            {% else %}
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>