{% extends "base.html" %}

{% block title %}Change password{% endblock title %}

{% block content %}

    <div class="container">

        <form action="/profile/change-password" method="post">

            <h1>Change password</h1>

            {% if incorrect_password %}
                <p>You have entered wrong password.</p>
                <p>Please try again!</p>
            {% elif too_short_password %}
                <p>Your new password is too short.</p>
                <p>Please try again!</p>
            {% elif incorrect_re_entered_password %}
                <p>When re-entering your new password, you have made a mistake.</p>
                <p>Please try again!</p>
            {% endif %}

            <div class="user-input">
                <div class="current-password">
                    <label for="current-password"></label>
                    <input type="password" name="current-password" id="current-password" placeholder="current password"
                           autofocus>
                </div>
                <div class="password">
                    <label for="new-password"></label>
                    <input type="password" name="new-password" id="new-password" placeholder="new password">
                </div>
                <div class="password-check">
                    <label for="password-check"></label>
                    <input type="password" name="password-check" id="password-check" placeholder="new password">
                </div>
            </div>
            <button class="button" type="submit">Change password</button>
        </form>
    </div>

{% endblock content %}