{% extends "base.html" %}

{% block title %} Home {% endblock title %}

{% block content %}

    <div class="container">

        <form action="/secret-number" method="post">

            <h1>Number is between 1 and 30!</h1>

            <div class="user-input">
                <input type="text" id="secret-number" name="user-guess" placeholder="Enter your guess" autofocus>
            </div>

            <button class="button" type="submit">Submit</button>

        </form>

    </div>

{% endblock content %}
