{% extends "base.html" %}

{% block title %} Guess check {% endblock title %}

{% block content %}

  <div class="container">
      {% if guess_is_correct %}

        <h1>Congratulation!</h1>
        <p>You've guessed it!</p>
        <a href="/">Play again</a>

      {% else %}

        <p>Your guess is incorrect!</p>
        <p>Your guess: {{guess}}</p>

        {% if secret_number > guess %}

          <p>Try something bigger!</p>

        {% else %}

          <p>Try something smaller!</p>

        {% endif %}
        <a href="/">Try again!</a>
      {% endif %}
  </div>
{% endblock content %}
