{% extends "base.html" %}

{% block title %}Guess check{% endblock title %}

{% block content %}

  <div class="container guess">
      {% if guess_is_correct %}

        <h1>Congratulation!</h1>
        <p>You've guessed it!</p>
        <a class="link" href="/">Play again</a>

      {% else %}

        <h1>Wrong guess!</h1>

        {% if too_long_guess %}
          <p>Your last guess: {{guess}}...</p>
        {% else %}
          <p>Your last guess: {{guess}}</p>
        {% endif %}

        {% if user.secret_number > guess %}

          <p>Try something bigger!</p>

        {% else %}

          <p>Try something smaller!</p>

        {% endif %}
          <div class="try-again">
            <a class="link" href="/">Try again!</a>
          </div>
      {% endif %}
  </div>
{% endblock content %}
