{% extends "base.html" %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}">

{% endblock head %}

{% block content %}


    {% for user in users.items %}
        <div class="container links">

            <img src="../static/images/male-blank-profile-picture.jpg" alt="profile image">

            <div class="user-info">
                <a class="link" href="/users/{{user.id}}"><h2>{{user.first_name}} {{user.last_name}}</h2></a>
                <p>Best score: {{user.best_score}}</p>
            </div>

        </div>
    {% endfor %}

    <div class="container">

        {% for page_number in range(users.pages) %}
            <a class="link" href="/users?page={{page_number + 1}}">{{page_number + 1}}</a>
        {% endfor %}

    </div>

{% endblock content %}
